jajaclicker/.vsconfig
jajaclicker/Assembly-CSharp.csproj
*.suo
*.sln
jajaclicker/Library/
jajaclicker/Logs/
jajaclicker/Temp/
jajaclicker/UserSettings/
jajaclicker/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
jajaclicker/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
jajaclicker/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
